html,
body {
	margin: 0;
	padding: 0;
	background: transparent;
	color: black;
	font-family: sans-serif;
}


#myearth {
	width: 728px;
	height: 90px;
	max-height: 100px;
	overflow: hidden;
}

#myearth canvas {
	filter: brightness(2);
	transform: scale(0.1);
	transition: filter 5s ease-in-out, transform 1s ease-in-out;
}
#myearth.earth-ready canvas {
	filter: none;
	transform: none;
}

#myearth::before {
	content: none;
}
